@charset "utf-8";
body {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
}
h1 {
    color: #326693;
    padding-left:10px;		/* ボックス内左側の余白を指定する */
	border-left: 10px solid #31a9ee;	/* ボーダー左側のスタイルを指定する */
  	border-bottom: 1px dashed #31a9ee; 	/* ボーダー下部のスタイルを指定する */
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button#rollButton {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

button#rollButton:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

div#result {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: relative;
    vertical-align: middle;
    color: #31a9ee;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

input {
    width: 50px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #326693;
}

input:focus {
    border: 2px solid #31a9ee; 
    z-index: 10;
    outline: 0;
}

label{
    color: #326693;
    font-size: large;
}